<div class="form d-flex flex-column justify-content-center align-items-center">
    <div>
        <h1>Sign Up</h1>
    </div>
    <form>
        <div class="form-group my-2">
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group my-2">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>