<div class="m-3 row ">
    <div class="col-lg-5">
        <img src="https://static.toiimg.com/thumb/resizemode-4,width-1280,height-720,msid-100982979/100982979.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card-body col-lg-7">
      <p class="card-text fs-2">Apple MacBook Air Laptop M1 chip, 13.3-inch/33.74 cm Retina Display, 8GB RAM, 256GB SSD Storage, Backlit Keyboard, FaceTime HD Camera, Touch ID. Works with iPhone/iPad; Space Grey</p>
      <b class="fs-1">$10,000</b>
      <div class="mt-3">
        <button class="btn btn-primary mx-2" [routerLink]="['/cart']">Add To Cart</button>
        <button class="btn btn-success mx-2">Buy</button>
      </div>
      <div class="mt-5">
        <b>About this item</b>
        <ul>
            <li>All-Day Battery Life – Go longer than ever with up to 18 hours of battery life.</li>
            <li>Powerful Performance – Take on everything from professional-quality editing to action-packed gaming with ease. The Apple M1 chip with an 8-core CPU delivers up to 3.5x faster performance than the previous generation while using way less power.</li>
            <li>Superfast Memory – 8GB of unified memory makes your entire system speedy and responsive. That way it can support tasks like memory-hogging multitab browsing and opening a huge graphic file quickly and easily.</li>
            <li>Stunning Display – With a 13.3-inch/33.74 cm Retina display, images come alive with new levels of realism. Text is sharp and clear, and colors are more vibrant.</li>
            <li>Why Mac – Easy to learn. Easy to set up. Astoundingly powerful. Intuitive. Packed with apps to use right out of the box. Mac is designed to let you work, play, and create like never before.</li>
        </ul>
      </div>
    </div>
</div>
